/* Charte graphique générale*/

html{
	font-family: "Trebuchet MS","Arial", "sans-serif";
}

body{
	width: 1000px;
	margin: auto;
	text-align: justify;
}

h1{
	color : red;
	font-family: "Arial", "sans-serif";
}

strong{
	text-transform: uppercase;
	font-size: 1.5em;
}

.messageerreur{
	color:red;
	text-align: center;
	font-size: 1.2em;
	font-style: italic;
	text-decoration: underline;
}



/* Header*/

header{
	display: flex;	
	justify-content: space-between;
	align-items : flex-end;
	height: 150px;
	margin: auto;
	background: red;
}

#logoGBAF{
	background: white;
	margin: 10px 10px 10px 10px;
}

#logoGBAF img{
	width: 100px;
}

#cartouche_user{
	border-radius: 20px;
	background: white;
	max-width : 50%;	
	margin : 20px 10px 20px 0px;
}

#cartouche_user ul{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5px 0px 5px;

}

.nom_user{
	max-width: 350px;
	overflow: hidden;
}

.avatar img{
	max-width: 70px;
}

.sedeconnecter img{
	max-width: 25px;
}

#cartouche_user ul li{
	padding: 0px 5px 0px 5px;
}




/*Footer*/

footer{
	text-align: center;
	margin-top: 20px;
	padding-top: 5px;
	border-top: 2px red solid;

}

footer a{
	outline: none;
	text-decoration: none;
	color : red;
}

/*page Connexion*/

#page_connexion{
	text-align: center;
	width: 100%;
	margin: auto;
}	

#page_connexion #lienmdpoubli {
	text-align: right;
	font-size: 0.8em;
	font-style: italic;
}

#page_connexion form input{
	width: 100%;
}


/*Formulaire GBAF - pages mdpoubli / inscription / moncompte */

.formulaireGBAF{
	text-align: center;
	vertical-align: center;
	width: 100%;
	margin: 50px 0px 50px 0px;
}


.formulaireGBAF form{
	text-align: left;
	margin-left: 33%;
}


.formulaireGBAF form input{
	width: 40%;
	margin-bottom: 10px;
}

.formulaireGBAF form select{
	width: 40%;
	margin-bottom: 10px;
}



/* Page Accueil*/

#Section_Presentation{
	border-bottom: 2px red solid;
}

#Section_Presentation .image {
	background-size: cover;
	background-position: top;
	width: 800px;
	height: 150px;
	margin-left: 100px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 4px black;
}

#presentation_acteur{
	border: 1px red solid;
	background-color: red;
	padding: 2px 2px 2px 2px;

}

#cartouche_acteur{
	width: 95%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	border-radius: 5px;
	padding: 5px;
	margin: 10px 15px 10px 20px;
}
#cartouche_acteur img{
	max-width : 150px;
	margin: auto;
}

#description_acteur p{
	width: 600px;
	font-size: 0.9em;
	padding: 2px 5px;
/*insertion ... à la fin de la description*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#lire_la_suite{
	background-color: red;
	border-radius: 10px;
	padding: 5px;
	height: 20px;
	margin-top: 100px;
}

#lire_la_suite a{
	text-decoration: none;
	color: white;
}

/* Page Acteur*/

#pageacteur{
	margin: 0px 10px 0px 10px ;
}

#pageacteur_description{
	border:1px red solid;
	margin-top: -1px;
	margin-bottom: 10px;
	padding: 10px;
}

#pageacteur_description img{
	max-height: 150px;
	max-width: 50%;
	display: block;
	margin: auto;
}

#pageacteur_commentaires {
	border: 1px red solid;
	padding: 10px;
}

#entete_commentaires{
	display: flex;
	justify-content : space-between;
	align-items : center;
	padding-left: 20px;
	padding-right: 20px;
}

#entete_commentaires_reactions{
	display: flex;
	align-items: center;
	justify-content : space-between;
	width:40%;
}

/*bouton nouveau commentaire*/
input.bouton{
	background: white;
	color:black;
	border-color: red;
	border-width: 5px;
	border-radius: 10px;
	font-size: 1.05em;
	padding: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 2px;
}

/*like / dislike */

#like_dislike{
	display: flex;
	align-items: center;
	justify-content : space-between;	
	width:25%;
	font-style: 1.2em;

}


input.pouce{
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
	background-image: url("images/poucehaut.png");
	background-position: top;
	border :none;
	width: 20px;
	height: 20px;	
	cursor: pointer;
}

input#dislike{
	background-image: url("images/poucebas.png");
	transform: translate(0px, 7px);

}

input#like{
	background-image: url("images/poucehaut.png");
}

/*commentaires*/

.cartouche_commentaires{
	display: block;
	margin: auto;
	width: 80%;
	border: 1px red solid;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.newpost{
	display: block;
	margin: auto;
	width: 80%;
	padding: 5px;
	margin-bottom: 5px;
}


#sedeconnecter{
	text-align: center;
}

/* Responsive */

/* charte pour smartphone*/
@media all and (max-device-width: 480px){

	body, header, footer{
		width: auto;
	}

}


/* charte pour tablettes*/

@media all and (max-device-width: 1388px) and (min-device-width: 481px){

	body, header, footer{
		width: auto;
		
	}

}



