/* Charte graphique générale*/

html{
	font-family: "Trebuchet MS","Arial", "sans-serif";
}

body{
	width: 1000px;
	margin: auto;
	text-align: justify;
}

h1{
	color : red;
	font-family: "Arial", "sans-serif";
}

strong{
	text-transform: uppercase;
	font-size: 1.5em;
}


/* Header*/

header{
	display: flex;	
	justify-content: space-between;
	align-items : flex-end;
	width: 1000px;
	height: 150px;
	margin: auto;
	background: red;
}

#logoGBAF{
	background: white;
	margin: 10px 10px 10px 10px;
}

#cartouche_user{
	border-radius: 20px;
	background: white;
	width : 25%;	
	margin : 20px 10px 20px 0px;
}

#cartouche_user ul{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5px 0px 5px;

}

#cartouche_user ul li{
	padding: 0px 5px 0px 5px;
}

/*Footer*/

footer{
	text-align: center;
	margin-top: 20px;
	padding-top: 5px;
	border-top: 2px red solid;

}

footer a{
	outline: none;
	text-decoration: none;
	color : red;
}

/*page Connexion*/

#page_connexion{
	text-align: center;
	width: 100%;
	margin: auto;
}	

#page_connexion #lienmdpoubli {
	text-align: right;
	font-size: 0.8em;
	font-style: italic;
}

#page_connexion form input{
	width: 100%;
}

/*page inscription*/

#inscriptionGBAF{
	text-align: center;
	vertical-align: center;
	width: 100%;
	margin: 50px 0px 50px 0px;
}


#inscriptionGBAF form{
	text-align: left;
	margin-left: 33%;
}


#inscriptionGBAF form input{
	width: 40%;
	margin-bottom: 10px;
}

#inscriptionGBAF form select{
	width: 40%;
	margin-bottom: 10px;
}



/* Page Accueil*/

#Section_Presentation{
	border-bottom: 2px red solid;
}

#Section_Presentation .image {
	background-size: cover;
	background-position: top;
	width: 800px;
	height: 150px;
	margin-left: 100px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 4px black;
}

#presentation_acteur{
	border: 1px red solid;
	padding: 2px 2px 2px 2px;

}

#cartouche_acteur{
	width: 95%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border : 1px red solid;
	padding: 5px;
	background: green;
	margin: auto;
}
#cartouche_acteur img{
	width : 100px;
	margin: auto;
}

#texte_acteur{
	width: 500px;
}

#description_acteur{
	width: 500px;
	font-size: 0.8em;
	border: 1px solid;
	padding: 2px 5px;
/*insertion ... à la fin de la description*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#lire_la_suite{
	text-decoration: none;
	background-color: red;
	color: white;
	border-radius: 10px;
	padding: 5px;
	height: 20px;
	margin-top: 100px;
}

#lire_la_suite a{
	text-decoration: none;
	color: white;
}

/* Page Acteur*/

#pageacteur{
	margin: 0px 10px 0px 10px ;
}

#pageacteur_description{
	border:1px red solid;
	margin-top: -1px;
	margin-bottom: 10px;
	padding: 10px;
}

#pageacteur_description img{
	max-height: 150px;
	max-width: 50%;
	display: block;
	margin: auto;
}

#pageacteur_commentaires {
	border: 1px red solid;
	padding: 10px;
}

#entete_commentaires{
	display: flex;
	justify-content : space-between;
	align-items : center;
	padding-left: 20px;
	padding-right: 20px;
}

#entete_commentaires form{
	margin : 30px 10px -10px 0px;
	text-align: right;
}
#entete_commentaires textarea{
	margin-bottom: -20px;
	border-radius: 5px;}

#entete_commentaires a img{
	width: 20px;
	height: 20px;
	}

#entete_commentaires .poucebas{
	transform: translate(0px, 7px);
	}

#entete_commentaires_reactions{
	display: flex;
	align-items: center;
}

#cartouche_commentaires{
	display: block;
	margin: auto;
	width: 80%;
	border: 1px red solid;
	border-radius: 5px;
	padding: 5px;
}

#sedeconnecter{
	text-align: center;
}